## 如何新建⼀個dataframe？

#### 方法一

In [5]:
import pandas as pd
import numpy as np

data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitor': [139, 237, 326, 456]}

visitors_1 = pd.DataFrame(data)
print(visitors_1)

  weekday    city  visitor
0     Sun  Austin      139
1     Sun  Dallas      237
2     Mon  Austin      326
3     Mon  Dallas      456

#### 方法二

In [2]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]

zipped = list(zip(list_labels, list_cols))

visitors_2 = pd.DataFrame(dict(zipped))
print(visitors_2)

     city weekday  visitor
0  Austin     Sun      139
1  Dallas     Sun      237
2  Austin     Mon      326
3  Dallas     Mon      456

####  一個簡單例子
假設你想知道如果利用 pandas 計算上述資料中，每個 weekday 的平均 visitor 數量，

參考[How to calculate mean values grouped on another column in Pandas](https://stackoverflow.com/questions/30482071/how-to-calculate-mean-values-grouped-on-another-column-in-pandas)

想要測試的時候就可以用這個只有 4 筆資料的資料集來測試程式碼

In [3]:
visitors_1.groupby(by="weekday")['visitor'].mean()

weekday
Mon    391
Sun    188
Name: visitor, dtype: int64

In [4]:
visitors_1.groupby(by="weekday", as_index=False)['visitor'].mean()

  weekday  visitor
0     Mon      391
1     Sun      188

## 練習時間

在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果
請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

#### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [8]:
data = {'country': ['Taiwan', 'Unted States', 'Thailand'],
        'population': [3000000, 50000000, 700000000]}
data = pd.DataFrame(data)

        country  population
0        Taiwan     3000000
1  Unted States     5000000
2      Thailand     7000000

In [17]:
countryArray = ['Taiwan', 'Unted States', 'Thailand']
populationArray = np.random.randint(10000000, size=3)
data={'country':countryArray, 'population':populationArray}
data=pd.DataFrame(data)

        country  population
0        Taiwan     8304459
1  Unted States     2537280
2      Thailand      594317

In [15]:
# The country with the largest population
population_max_country = data['country'][data['population'].idxmax()]
population_min_country = data['country'][data['population'].idxmin()]
population_max = data['population'].max()
population_min = data['population'].min()
print('Max :', population_max_country ,' , ' + str(population_max) + " people")
print('Min :', population_min_country ,' , ' + str(population_min) + " people")

Max : Taiwan  , 9398514 people
Min : Thailand  , 7238285 people